<launch>

  <arg name="bag" value="/home/yago/rosbags/media_lab_02.bag"/>
  <arg name="rate" default="1.0"/>
  <arg name="start" default="0.0"/>
  <param name="use_sim_time" value="true"/>
  <node pkg="rosbag" type="play" name="play" output="screen"
        args="$(arg bag) --start $(arg start) --rate $(arg rate) --clock --delay=10"/>

  <!--Launch Odometry publisher and transform-->
  <node pkg="nexus_robot_2wd" type="nexus_robot_odometry_2" name="nexus_robot_odometry" output="screen">
    <param name="publish_rate" value="25.0"/>
    <param name="angle_interpolation" value="2.0"/>
    <param name="angular_scale_positive" value="1.0"/>
    <param name="angular_scale_negative" value="1.0"/>
    <param name="linear_scale_positive" value="1.0"/>
    <param name="linear_scale_negative" value="1.0"/>
  </node>

  <!-- <node pkg="nexus_robot_2wd" type="odom2path.py" name="path" output="screen"/> -->
  <node pkg="hector_trajectory_server" type="hector_trajectory_server" name="trajectory_server" output="screen">
    <param name="source_frame_name" value="base_footprint"/>
  </node>

  <!--Launch Transforms-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 1 /map /odom" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="Lidar_scan_broadcaster" args="0.0 0 0.1 0 0 0 1 base_footprint laser" />

  <!-- Launch hector_slam -->
  <include file="$(find nexus_robot_mapping)/launch/hector/nexus_hector_mapping_odometry.launch"/>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find nexus_robot_2wd)/rviz/slam_rviz.rviz"/>

</launch>
